# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Document\mybatis-reading\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
